# **Steps followed**

![image.png]()

# **Feature Information**

1. id: A unique identifier for each property listing.
2. type: The type of property, such as BHK1, BHK2, RK1, etc.
3. locality: The specific neighborhood or area where the property is located.
4. activation_date: The date when the property listing was activated or made available for
rent.
5. latitude: The geographic latitude coordinate of the property's location.
6. longitude: The geographic longitude coordinate of the property's location.
7. lease_type: The type of lease, such as FAMILY or BACHELOR, or ANYONE
8. gym: Indicates whether the property has a gym or fitness facility.
9. lift: Indicates whether the property has an elevator or lift.
10. swimming_pool: Indicates whether the property has a swimming pool.
11. negotiable: Indicates whether the rent price is negotiable.
12. furnishing: Describes the level of furnishing, e.g., fully furnished, partially furnished,
unfurnished.
13. parking: Specifies the availability of parking facilities.
14. property_size: The size of the property in terms of square footage or square meters.
15. property_age: The age of the property since construction.
16. bathroom: The number of bathrooms available in the property.
17. facing: The direction in which the property faces, e.g., north, south, east, west.
18. cup_board: Indicates the presence of cupboards or storage units.
19. floor: The floor number on which the property is located.
20. total_floor: The total number of floors in the building.
21. amenities: Additional amenities or features provided with the property.
22. water_supply: The type and availability of water supply.
23. building_type: The architectural style or type of building, e.g.,Apartment, Individual
House
24. balconies: The number of balconies or outdoor spaces.
25. rent: The target variable, representing the rental price for the property.
1,

# **Data Preprocessing**

### **Data Ingestion**

In [193]:
import pandas as pd

In [194]:
pd.set_option('display.max_columns',None)

In [195]:
train_df = pd.read_csv('/content/drive/MyDrive/Smart_Predictive/House_Rent_Train - House_Rent_Prediction.csv.csv')

In [196]:
train_df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1250,25.0,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,19,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,SEMI_FURNISHED,BOTH,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,20,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,21,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,22,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,0,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,23,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20555 entries, 0 to 20554
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               20555 non-null  object
 1   type             20528 non-null  object
 2   locality         20395 non-null  object
 3   activation_date  20532 non-null  object
 4   latitude         20532 non-null  float64
 5   longitude        20532 non-null  float64
 6   lease_type       20532 non-null  object
 7   gym              20555 non-null  int64
 8   lift             20555 non-null  int64
 9   swimming_pool    20555 non-null  int64
 10  negotiable       20555 non-null  int64
 11  furnishing       20555 non-null  object
 12  parking          20555 non-null  object
 13  property_size    20555 non-null  int64
 14  property_age     20532 non-null  float64
 15  bathroom         20532 non-null  float64
 16  facing           20532 non-null  object
 17  cup_board        20532 non-null  float64
 18  floor            20532 non-null  float64
 19  total_floor      20532 non-null  float64
 20  amenities        20532 non-null  object
 21  water_supply     20532 non-null  object
 22  building_type    20532 non-null  object
 23  balconies        20532 non-null  float64
 24  rent             20532 non-null  float64
dtypes: float64(9), int64(5), object(11)
memory usage: 3.9+ MB

In [198]:
train_df.shape

(20555, 25)

### **Count Unique Values**

In [199]:
def unique_values(dataframe):
  for i in dataframe.select_dtypes(include='object'):
    print(f'Total no of unique values in {i} :{dataframe[i].nunique()}')

unique_values(train_df)

Total no of unique values in id :20523
Total no of unique values in type :9
Total no of unique values in locality :1917
Total no of unique values in activation_date :19566
Total no of unique values in lease_type :4
Total no of unique values in furnishing :3
Total no of unique values in parking :4
Total no of unique values in facing :8
Total no of unique values in amenities :4994
Total no of unique values in water_supply :3
Total no of unique values in building_type :4

### **Imputation**

In [200]:
train_df.isnull().sum()

id                   0
type                27
locality           160
activation_date     23
latitude            23
longitude           23
lease_type          23
gym                  0
lift                 0
swimming_pool        0
negotiable           0
furnishing           0
parking              0
property_size        0
property_age        23
bathroom            23
facing              23
cup_board           23
floor               23
total_floor         23
amenities           23
water_supply        23
building_type       23
balconies           23
rent                23
dtype: int64

In [201]:
import numpy as np

def num_columns(columns):
  for i in columns:
    train_df[i] = train_df[i].fillna(lambda x : 0 if x == None else x)
  print('Imputation has done')

num_columns(train_df.select_dtypes(include='number').columns)

Imputation has done

In [202]:
train_df = train_df.dropna()

train_df.isnull().sum()

id                 0
type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
gym                0
lift               0
swimming_pool      0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
amenities          0
water_supply       0
building_type      0
balconies          0
rent               0
dtype: int64

In [203]:
train_df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
5,ff8081815f48e4aa015f4dd1a9c6696b,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20524,ff80818159ded60e0159dfff948e5bcb,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0
20528,ff8081815e73c2e2015e74ac10e91975,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0
20529,ff8081816073f28c016077bb8db47e4f,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.9018,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0
20530,ff8081814c6f8c9b014c6febae49016f,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0
20531,ff80818156fdef920156fe0eb0e807d0,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0

### **Adding New features**

In [204]:
import json

In [205]:
def format_data(x):
  data = json.loads(x)
  data_dict = {k: True if v is True else (False if v is False else v) for k, v in data.items()}
  x = {i:1 if data[i]==True else 0  for i in data_dict}
  return x

In [206]:
amenities = [ format_data(i) for i in train_df.amenities]

In [207]:
len(amenities)

20377

In [208]:
for i in amenities:
  print(i.items())
  break

dict_items([('LIFT', 1), ('GYM', 0), ('INTERNET', 0), ('AC', 0), ('CLUB', 0), ('INTERCOM', 0), ('POOL', 0), ('CPA', 0), ('FS', 0), ('SERVANT', 0), ('SECURITY', 1), ('SC', 1), ('GP', 0), ('PARK', 1), ('RWH', 1), ('STP', 1), ('HK', 0), ('PB', 1), ('VP', 1)])

In [209]:
Total_amenities = []

for i in amenities:
  value = 0
  for j in i.items():
    if j[1]==1:
      value+=1
  Total_amenities.append(value)

print('Executed')

Executed

In [210]:
Total_amenities[:10]

[8, 6, 0, 3, 8, 18, 3, 4, 13, 0]

In [211]:
train_df = train_df.reset_index(drop=True)

train_df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
1,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
2,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
3,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
4,ff8081815f48e4aa015f4dd1a9c6696b,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,ff80818159ded60e0159dfff948e5bcb,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0
20373,ff8081815e73c2e2015e74ac10e91975,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0
20374,ff8081816073f28c016077bb8db47e4f,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.9018,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0
20375,ff8081814c6f8c9b014c6febae49016f,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0
20376,ff80818156fdef920156fe0eb0e807d0,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0

**Type**

In [212]:
train_df.type.unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK4PLUS', '1BHK1', 'bhk2',
       'bhk3'], dtype=object)

**Bedrooms**

In [213]:
train_df['bedrooms'] = train_df['type'].apply(lambda x : 5 if x[4:]=='PLUS' else int(x[-1]))

In [214]:
train_df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,bedrooms
0,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,2
1,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,3
2,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,1
3,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,3
4,ff8081815f48e4aa015f4dd1a9c6696b,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,ff80818159ded60e0159dfff948e5bcb,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0,1
20373,ff8081815e73c2e2015e74ac10e91975,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0,2
20374,ff8081816073f28c016077bb8db47e4f,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.9018,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0,2
20375,ff8081814c6f8c9b014c6febae49016f,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0,2
20376,ff80818156fdef920156fe0eb0e807d0,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0,1

**Total Amenities**

In [215]:
x = pd.DataFrame(amenities)

x.drop('GYM',axis=1,inplace=True)

x.reset_index(drop=True)

x['Total_Amenities'] = Total_amenities

x

,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,1,0,0,0.0,0,0,0.0,0,0.0,1,1,0.0,1,1.0,1.0,0,1,1.0,8
1,1,0,0,0.0,0,0,1.0,0,0.0,0,1,0.0,1,0.0,0.0,0,1,1.0,6
2,0,0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0,0,0.0,0
3,0,0,0,0.0,0,0,1.0,0,0.0,0,0,0.0,1,0.0,0.0,0,0,1.0,3
4,1,0,0,1.0,0,1,1.0,1,0.0,1,0,0.0,0,0.0,0.0,0,1,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,1,1,0,0.0,0,0,0.0,1,0.0,1,1,1.0,1,0.0,0.0,1,0,1.0,9
20373,0,1,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,1.0,0.0,0,0,0.0,4
20374,1,1,0,1.0,0,0,1.0,0,0.0,1,0,0.0,1,0.0,0.0,0,1,0.0,8
20375,1,1,0,0.0,0,0,1.0,1,0.0,1,1,0.0,1,0.0,0.0,1,1,1.0,10
20376,0,0,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,0.0,0.0,0,0,0.0,2

In [216]:
result_df = pd.concat([train_df, x], axis=1)

In [217]:
result_df

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,2,1,0,0,0.0,0,0,0.0,0,0.0,1,1,0.0,1,1.0,1.0,0,1,1.0,8
1,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,3,1,0,0,0.0,0,0,1.0,0,0.0,0,1,0.0,1,0.0,0.0,0,1,1.0,6
2,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0,0,0.0,0
3,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,3,0,0,0,0.0,0,0,1.0,0,0.0,0,0,0.0,1,0.0,0.0,0,0,1.0,3
4,ff8081815f48e4aa015f4dd1a9c6696b,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,1,1,0,0,1.0,0,1,1.0,1,0.0,1,0,0.0,0,0.0,0.0,0,1,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,ff80818159ded60e0159dfff948e5bcb,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0,1,1,1,0,0.0,0,0,0.0,1,0.0,1,1,1.0,1,0.0,0.0,1,0,1.0,9
20373,ff8081815e73c2e2015e74ac10e91975,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0,2,0,1,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,1.0,0.0,0,0,0.0,4
20374,ff8081816073f28c016077bb8db47e4f,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.9018,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0,2,1,1,0,1.0,0,0,1.0,0,0.0,1,0,0.0,1,0.0,0.0,0,1,0.0,8
20375,ff8081814c6f8c9b014c6febae49016f,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0,2,1,1,0,0.0,0,0,1.0,1,0.0,1,1,0.0,1,0.0,0.0,1,1,1.0,10
20376,ff80818156fdef920156fe0eb0e807d0,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,0.0,0.0,0,0,0.0,2

In [218]:
data = result_df.copy()

print('Before :',data.shape)

data = data.dropna()

print('After :',data.shape)

Before : (20377, 45)
After : (19322, 45)

In [219]:
data.shape

(19322, 45)

In [220]:
data

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0,2,1,0,0,0.0,0,0,0.0,0,0.0,1,1,0.0,1,1.0,1.0,0,1,1.0,8
1,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0,3,1,0,0,0.0,0,0,1.0,0,0.0,0,1,0.0,1,0.0,0.0,0,1,1.0,6
2,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0,0,0.0,0
3,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0,3,0,0,0,0.0,0,0,1.0,0,0.0,0,0,0.0,1,0.0,0.0,0,0,1.0,3
4,ff8081815f48e4aa015f4dd1a9c6696b,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0,1,1,0,0,1.0,0,1,1.0,1,0.0,1,0,0.0,0,0.0,0.0,0,1,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,ff80818159ded60e0159dfff948e5bcb,BHK1,Ulsoor,11/10/2017 17:08,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0,1,1,1,0,0.0,0,0,0.0,1,0.0,1,1,1.0,1,0.0,0.0,1,0,1.0,9
20373,ff8081815e73c2e2015e74ac10e91975,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0,2,0,1,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,1.0,0.0,0,0,0.0,4
20374,ff8081816073f28c016077bb8db47e4f,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.9018,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0,2,1,1,0,1.0,0,0,1.0,0,0.0,1,0,0.0,1,0.0,0.0,0,1,0.0,8
20375,ff8081814c6f8c9b014c6febae49016f,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0,2,1,1,0,0.0,0,0,1.0,1,0.0,1,1,0.0,1,0.0,0.0,1,1,1.0,10
20376,ff80818156fdef920156fe0eb0e807d0,BHK1,Malleshwaram West,8/7/2018 22:31,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,1,0.0,1,0.0,0.0,0,0,0.0,2

### **Removing Columns**

In [221]:
data.drop(['id','amenities'],inplace=True,axis=1)

In [222]:
data.columns

Index(['type', 'locality', 'activation_date', 'latitude', 'longitude',
       'lease_type', 'gym', 'lift', 'swimming_pool', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'water_supply',
       'building_type', 'balconies', 'rent', 'bedrooms', 'LIFT', 'INTERNET',
       'AC', 'CLUB', 'INTERCOM', 'POOL', 'CPA', 'FS', 'SERVANT', 'SECURITY',
       'SC', 'GP', 'PARK', 'RWH', 'STP', 'HK', 'PB', 'VP', 'Total_Amenities'],
      dtype='object')

In [223]:
data.shape

(19322, 43)

In [224]:
data.head()

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,2,1,0,0,0.0,0,0,0.0,0,0.0,1,1,0.0,1,1.0,1.0,0,1,1.0,8
1,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,3,1,0,0,0.0,0,0,1.0,0,0.0,0,1,0.0,1,0.0,0.0,0,1,1.0,6
2,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0,0,0.0,0
3,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,3,0,0,0,0.0,0,0,1.0,0,0.0,0,0,0.0,1,0.0,0.0,0,0,1.0,3
4,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1,0,0,1.0,0,1,1.0,1,0.0,1,0,0.0,0,0.0,0.0,0,1,0.0,8

### **Data-types Coversion**

In [225]:
import re

**Before Conversion**

In [226]:
data.dtypes

type                object
locality            object
activation_date     object
latitude            object
longitude           object
lease_type          object
gym                  int64
lift                 int64
swimming_pool        int64
negotiable           int64
furnishing          object
parking             object
property_size        int64
property_age        object
bathroom            object
facing              object
cup_board           object
floor               object
total_floor         object
water_supply        object
building_type       object
balconies           object
rent                object
bedrooms             int64
LIFT                 int64
INTERNET             int64
AC                   int64
CLUB               float64
INTERCOM             int64
POOL                 int64
CPA                float64
FS                   int64
SERVANT            float64
SECURITY             int64
SC                   int64
GP                 float64
PARK                 int64
RWH                float64
STP                float64
HK                   int64
PB                   int64
VP                 float64
Total_Amenities      int64
dtype: object

In [227]:
data.head()

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,BHK2,Bellandur,9/10/2017 12:48,12.929557,77.67228,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,2,1,0,0,0.0,0,0,0.0,0,0.0,1,1,0.0,1,1.0,1.0,0,1,1.0,8
1,BHK3,Thiruvanmiyur,12/6/2018 22:02,12.98287,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,3,1,0,0,0.0,0,0,1.0,0,0.0,0,1,0.0,1,0.0,0.0,0,1,1.0,6
2,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,1,0,0,0,0.0,0,0,0.0,0,0.0,0,0,0.0,0,0.0,0.0,0,0,0.0,0
3,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,3,0,0,0,0.0,0,0,1.0,0,0.0,0,0,0.0,1,0.0,0.0,0,0,1.0,3
4,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1,0,0,1.0,0,1,1.0,1,0.0,1,0,0.0,0,0.0,0.0,0,1,0.0,8

In [228]:
data['type'].unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK4PLUS', '1BHK1', 'bhk2',
       'bhk3'], dtype=object)

In [229]:
data['type'] = data['type'].apply(lambda x :  x.upper())

In [230]:
data['type'] = data['type'].apply(lambda x :  'BHK5' if x =='BHK4PLUS' else( 'BHK1' if x == '1BHK1' else x ) )

In [231]:
data['type'].unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK5'], dtype=object)

In [232]:
data.latitude	 = data.latitude.apply(lambda x : float(x))

In [233]:
data.longitude	 = data.longitude.apply(lambda x : float(x))

In [234]:
data.gym	 = data.gym.apply(lambda x : float(x))

In [235]:
data.lift	 = data.lift.apply(lambda x : float(x))

In [236]:
data.swimming_pool	 = data.swimming_pool.apply(lambda x : float(x))

In [237]:
data.negotiable	= data.negotiable.apply(lambda x : float(x))

In [238]:
data.property_size	= data.property_size.apply(lambda x : float(x))

In [239]:
data.property_age	= data.property_age.apply(lambda x : float(x))

In [240]:
data.bathroom	= data.bathroom.apply(lambda x : float(x))

In [241]:
data.cup_board	= data.cup_board.apply(lambda x : float(x))

In [242]:
data.floor	= data.floor.apply(lambda x : float(x))

In [243]:
data.total_floor	= data.total_floor.apply(lambda x : float(x))

In [244]:
data.balconies	= data.balconies.apply(lambda x : float(x))

In [245]:
data.rent	= data.rent.apply(lambda x : float(x))

In [246]:
data.LIFT	= data.LIFT.apply(lambda x : float(x))

In [247]:
data.INTERNET	= data.INTERNET.apply(lambda x : float(x))

In [248]:
data.AC	= data.AC.apply(lambda x : float(x))

In [249]:
data.INTERCOM	= data.INTERCOM.apply(lambda x : float(x))

In [250]:
data.POOL	= data.POOL.apply(lambda x : float(x))

In [251]:
data.FS	= data.FS.apply(lambda x : float(x))

In [252]:
data.SECURITY	= data.SECURITY.apply(lambda x : float(x))

In [253]:
data.SC	= data.SC.apply(lambda x : float(x))

In [254]:
data.PARK	= data.PARK.apply(lambda x : float(x))

In [255]:
data.HK	= data.HK.apply(lambda x : float(x))

In [256]:
data.PB	= data.PB.apply(lambda x : float(x))

In [257]:
data.activation_date	 = data.activation_date.apply(lambda x : x[:-5])

In [258]:
data.activation_date  = data.activation_date.apply(lambda x : re.sub(r'(\d{2})-(\d{2})-(\d{4})', r'\1/\2/\3', x))

In [259]:
data.activation_date  = data.activation_date.apply(lambda x : x.strip())

In [260]:
data.activation_date	 = pd.to_datetime(data.activation_date,format='%d/%m/%Y')

**After coversion**

In [261]:
data.dtypes

type                       object
locality                   object
activation_date    datetime64[ns]
latitude                  float64
longitude                 float64
lease_type                 object
gym                       float64
lift                      float64
swimming_pool             float64
negotiable                float64
furnishing                 object
parking                    object
property_size             float64
property_age              float64
bathroom                  float64
facing                     object
cup_board                 float64
floor                     float64
total_floor               float64
water_supply               object
building_type              object
balconies                 float64
rent                      float64
bedrooms                    int64
LIFT                      float64
INTERNET                  float64
AC                        float64
CLUB                      float64
INTERCOM                  float64
POOL                      float64
CPA                       float64
FS                        float64
SERVANT                   float64
SECURITY                  float64
SC                        float64
GP                        float64
PARK                      float64
RWH                       float64
STP                       float64
HK                        float64
PB                        float64
VP                        float64
Total_Amenities             int64
dtype: object

### **Encoding categorical to number**

In [262]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [263]:
data.to_csv('_cleaned_train_data.csv',index=False)

In [264]:
data

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,BHK2,Bellandur,2017-10-09,12.929557,77.672280,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,8
1,BHK3,Thiruvanmiyur,2018-06-12,12.982870,80.262012,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,6
2,BHK1,Attiguppe,2018-07-20,12.955991,77.531634,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,BHK3,Kodihalli,2018-05-31,12.963903,77.649446,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3
4,BHK1,"Seetharampalya,Hoodi",2017-10-24,12.986196,77.718314,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK1,Ulsoor,2017-10-11,12.979762,77.615395,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,850.0,30.0,2.0,E,1.0,1.0,4.0,CORP_BORE,AP,1.0,20000.0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,9
20373,BHK2,Koramangala 4th Block,2017-10-19,12.931072,77.632361,ANYONE,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1000.0,10.0,2.0,N,2.0,1.0,2.0,CORPORATION,IH,2.0,30000.0,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4
20374,BHK2,Kumaraswamy Layout,2017-12-21,12.901800,77.566597,FAMILY,1.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1000.0,0.0,2.0,W,2.0,5.0,5.0,BOREWELL,AP,2.0,16000.0,2,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,8
20375,BHK2,Indiranagar,2018-06-28,12.965502,77.647694,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1000.0,5.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,3.0,30000.0,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,10
20376,BHK1,Malleshwaram West,2018-07-08,12.998645,77.574336,ANYONE,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,500.0,3.0,1.0,E,1.0,1.0,1.0,CORPORATION,IH,1.0,8500.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2

### **ML Model dataset**

In [265]:
data.select_dtypes(include='object')

,type,locality,lease_type,furnishing,parking,facing,water_supply,building_type
0,BHK2,Bellandur,ANYONE,SEMI_FURNISHED,BOTH,NE,CORPORATION,AP
1,BHK3,Thiruvanmiyur,FAMILY,SEMI_FURNISHED,BOTH,E,CORP_BORE,AP
2,BHK1,Attiguppe,FAMILY,SEMI_FURNISHED,TWO_WHEELER,E,CORPORATION,IH
3,BHK3,Kodihalli,FAMILY,SEMI_FURNISHED,BOTH,E,CORPORATION,IH
4,BHK1,"Seetharampalya,Hoodi",FAMILY,SEMI_FURNISHED,BOTH,E,CORP_BORE,AP
...,...,...,...,...,...,...,...,...
20372,BHK1,Ulsoor,ANYONE,SEMI_FURNISHED,TWO_WHEELER,E,CORP_BORE,AP
20373,BHK2,Koramangala 4th Block,ANYONE,SEMI_FURNISHED,BOTH,N,CORPORATION,IH
20374,BHK2,Kumaraswamy Layout,FAMILY,SEMI_FURNISHED,BOTH,W,BOREWELL,AP
20375,BHK2,Indiranagar,FAMILY,SEMI_FURNISHED,BOTH,E,CORP_BORE,AP
20376,BHK1,Malleshwaram West,ANYONE,SEMI_FURNISHED,TWO_WHEELER,E,CORPORATION,IH

In [266]:
data_ = data.copy()

In [267]:
data_.head()

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,BHK2,Bellandur,2017-10-09,12.929557,77.672280,ANYONE,0.0,1.0,0.0,1.0,SEMI_FURNISHED,BOTH,1400.0,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,8
1,BHK3,Thiruvanmiyur,2018-06-12,12.982870,80.262012,FAMILY,0.0,1.0,0.0,0.0,SEMI_FURNISHED,BOTH,1350.0,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,6
2,BHK1,Attiguppe,2018-07-20,12.955991,77.531634,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,TWO_WHEELER,600.0,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,BHK3,Kodihalli,2018-05-31,12.963903,77.649446,FAMILY,0.0,0.0,0.0,1.0,SEMI_FURNISHED,BOTH,1500.0,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3
4,BHK1,"Seetharampalya,Hoodi",2017-10-24,12.986196,77.718314,FAMILY,1.0,1.0,1.0,1.0,SEMI_FURNISHED,BOTH,1080.0,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8

In [268]:
def encode(columns):
  for i in columns:
    data_[i] = label_encoder.fit_transform(data_[i])

encode(data_.select_dtypes(include='object').columns)

In [269]:
data_.head()

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,bedrooms,LIFT,INTERNET,AC,CLUB,INTERCOM,POOL,CPA,FS,SERVANT,SECURITY,SC,GP,PARK,RWH,STP,HK,PB,VP,Total_Amenities
0,1,265,2017-10-09,12.929557,77.672280,0,0.0,1.0,0.0,1.0,2,0,1400.0,4.0,2.0,2,2.0,3.0,4.0,1,0,2.0,22000.0,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,8
1,2,1425,2018-06-12,12.982870,80.262012,3,0.0,1.0,0.0,0.0,2,0,1350.0,6.0,3.0,0,3.0,1.0,5.0,2,0,3.0,28000.0,3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,6
2,0,130,2018-07-20,12.955991,77.531634,3,0.0,0.0,0.0,1.0,2,3,600.0,3.0,1.0,0,1.0,1.0,2.0,1,3,0.0,8000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2,867,2018-05-31,12.963903,77.649446,3,0.0,0.0,0.0,1.0,2,0,1500.0,15.0,3.0,0,4.0,0.0,0.0,1,3,1.0,45000.0,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3
4,0,1311,2017-10-24,12.986196,77.718314,3,1.0,1.0,1.0,1.0,2,0,1080.0,0.0,2.0,0,1.0,3.0,5.0,2,0,2.0,18000.0,1,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8

In [271]:
data_['type'].unique()

array([1, 2, 0, 5, 3, 4])

In [276]:
data_.to_csv('ml_dataset.csv',index=False)